body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header header'
    'lside main main rside'
    'footer footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 0.25fr 2fr 2fr 0.25fr;

}

body {
  color: black;
}

header,
footer,
main,
content,
.lside,
.rside {
  background-color: white;
  color: #000000;
  padding: 20px;
  /* border: black 1px solid; */
}


header {
  grid-area: header;
  background-color: #f3f2ef;
}


main {
  grid-area: main;
  padding: 0px;
  /* background-color: #f3f2ef; */
}

.lside {
  grid-area: lside;
  /* background-color: #f3f2ef; */
}

.rside {
  grid-area: rside;
  /* background-color: #f3f2ef; */
}

footer {
  grid-area: footer;
  background-color: #f3f2ef;
}