body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header header'
    'lside main main rside'
    'footer footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 2fr 2fr 1fr;

}

body {
  color: black;
}

header,
footer,
main,
content,
.lside,
.rside {
  background-color: white;
  color: #000000;
  padding: 20px;
  border: black 1px solid;
}


header {
  grid-area: header;
}




.error-image{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
}

.error-message{
      margin-left: 65px;
      margin-top: 11px;
      position: absolute;
      font-size: 56px;
      font-family: 'Roboto Mono', monospace;
}

.error-status{
    position: relative;
}




.splash-message{
      text-align: center;
      margin: auto;
      display: inline;
      margin-top: 11px;
      position: absolute;
      font-size: 56px;
      color: white;
      font-family: 'Roboto Mono', monospace;
}

.splash-image{
    width: 100%;
    height: 700px;
    padding: 0px;
}

.template-image{
    width:600px;
    height: 650px;
}

.template-image-div{
    display: inline-block;
    margin-top: 18px;

}

.splash-template{
    text-align: center;
    margin-top: 18px;
}

.seller-template{
    margin-top: 18px;
}

.communication-template{
    margin-top: 18px;
}


main {
  grid-area: main;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
}

.lside {
  grid-area: lside;
}

.rside {
  grid-area: rside;
}

footer {
  grid-area: footer;
}