body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header header'
    'lside main main rside'
    'footer footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 2fr 2fr 1fr;

}

body {
  color: black;
}

header,
footer,
main,
content,
.lside,
.rside {
  background-color: steelblue;
  color: #000000;
  padding: 20px;
  border: skyblue 1px solid;
}


header {
  grid-area: header;
}


main {
  grid-area: main;
}

.lside {
  grid-area: lside;
}

.rside {
  grid-area: rside;
}

footer {
  grid-area: footer;
}