.error-image{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
}

.error-message{
      margin-left: 65px;
      margin-top: 29px;
      position: absolute;
      font-size: 56px;
      left: 20%;
      right: 20%;
}

.error-status{
    position: relative;
}

.splash-message{
      text-align: center;
      margin: auto;
      display: inline;
      margin-top: 29px;
      position: absolute;
      font-size: 56px;
      color: white;
      left: 20%;
      right: 20%;
}

.intro-message{
    margin: auto;
    margin-top: 29px;
    font-style: italic;
}

.agent-message{
    margin-top: 38px;
}

.splash-image{
    width: 100%;
    height: 700px;
    padding: 0px;
}

.template-image{
    margin: auto;
    width:600px;
    height: 700px;
}

.template-image-div{
    margin: auto;
    display: inline-block;
    margin-top: 18px;
}

.splash-template{
    margin: auto;
    text-align: center;
    margin-top: 38px;
}

.seller-template{
    margin: auto;
    margin-top: 38px;
}

.communication-template{
    margin: auto;
    margin-top: 18px;
}