<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="/fragments/meta-head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="/fragments/header :: body"></div>
      
    </header>

    <main th:if="${siteUser.role.equals('agent')}">
        <div th:replace="/fragments/new-listing-card :: body"></div>
        
    </main>

  

    <!-- Start OLD Agent Main -->

    <!-- <main th:if="${siteUser.role.equals('agent')}">
        <h2>Dashboard</h2>
        </form>
        <form action="/newListing" method="get">
            <fieldset>
                <input type="hidden" name="accountStatus" th:value="${false}">
                <input type="submit" value="New Listing" />
            </fieldset>
        </form>
        <a href="/newListing">New Listing</a>
        <div>
            <ul th:each="seller : ${sellers}">
                <form action="/deleteSeller" th:method="delete">
                    <fieldset>
                        <input type="hidden" name="id" th:value="${seller.id}">
                        <input type="submit" value="X" />
                    </fieldset>
                </form>
                <form action="/newListing" method="get">
                    <fieldset>
                        <input type="hidden" name="username" th:value="${seller.username}">
                        <input type="hidden" name="accountStatus" th:value="${true}">
                        <input type="submit" value="New Listing" />
                    </fieldset>
                </form>
                <li th:text="'User name: ' + ${seller.username}"></li>
                <li>
                    <div>
                        <ul th:each="property : ${seller.properties}">
                            <li th:text="'Address: ' + ${property.address}"></li>
                            <li th:text="'Price: ' + ${property.price}"></li>
                            <div>
                                <ul th:each="offer : ${property.offers}">
                                    <li th:text="'Offer Price: ' + ${offer.offerPrice}"></li>
                                    <li th:text="'Down Payment: ' + ${offer.downPayment}"></li>
                                    <form action="/newMessage" method="post">
                                        <fieldset>
                                            <label>Message</label>
                                            <input type="text" name="body" required>
                                            <input type="hidden" name="id" th:value="${offer.id}">
                                            <input type="submit" value="Send" />
                                        </fieldset>
                                    </form>
                                    <ul th:each="message : ${offer.messages}">
                                        <li th:text="'Name: ' + ${seller.firstName}"></li>
                                        <li th:text="'Body: ' + ${message.body}"></li>
                                        <li th:text="'Date: ' + ${message.date}"></li>
                                        <br>
                                    </ul>
                                    <br>
                                </ul>
                            </div>
                            <br>
                        </ul>
                    </div>
                </li>
            </ul>
        </div> -->

        <!-- END OLD Agent Main -->

        <!--<table>-->
        <!--    <th>-->
        <!--    <tr>-->
        <!--        <th>Address</th>-->
        <!--        <th>Price</th>-->
        <!--        <th>Client</th>-->
        <!--        <th>Close of Escrow</th>-->
        <!--        <th>Submit Offer</th>-->
        <!--    </tr>-->
        <!--        <tr th:each="client : ${clients}">-->
        <!--            <td th:text="${client.address}"></td>-->
        <!--            <td th:text="${client.address}"></td>-->
        <!--        </tr>-->
        <!--</th>-->
        <!--<td></td>-->
        <!--</tbody>-->
        <!--</table>-->

    </main>

    <!-- <main th:if="${siteUser.role.equals('seller')}">
        <div>
            <ul th:each="offer : ${offers}">
                <li th:text="'Offer Price: ' + ${offer.offerPrice}"></li>
                <li th:text="'Down Payment: ' + ${offer.downPayment}"></li>
                <form action="/newMessage" method="post">
                    <fieldset>
                        <label>Message</label>
                        <input type="text" name="body" required>
                        <input type="hidden" name="id" th:value="${offer.id}">
                        <input type="submit" value="Send" />
                    </fieldset>
                </form>
                <ul th:each="message : ${offer.messages}">
                    <li th:text="'Body: ' + ${message.body}"></li>
                    <li th:text="'Date: ' + ${message.date}"></li>
                    <br>
                </ul>
                <br>
            </ul>
        </div>
    </main> -->

    <main th:if="${siteUser.role.equals('seller')}">
        <div th:replace="/fragments/new-seller-offer-card :: body"></div>
    </main>

    <div class="lside"></div>
    <div class="rside"></div>



    <footer>
        <div th:replace="/fragments/footer :: body"></div>
    </footer>

    




</body>

</html>