<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="/css/grid.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Real Offer Hub: Dashboard</title>
</head>

<body>

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>

    <main th:if="${siteUser.role.equals('agent')}">
        <h2>Dashboard</h2>
        </form>
        <form action="/newListing" method="get">
            <fieldset>
                <input type="hidden" name="accountStatus" th:value="${false}">
                <input type="submit" value="New Listing" />
            </fieldset>
        </form>
        <a href="/newListing">New Listing</a>
        <div>
            <ul th:each="seller : ${sellers}">
                <form action="/deletePost" method="post">
                    <fieldset>
                        <input type="hidden" name="body" th:value="${seller.username}">
                        <input type="submit" value="X" />
                    </fieldset>
                </form>
                <form action="/newListing" method="get">
                    <fieldset>
                        <input type="hidden" name="username" th:value="${seller.username}">
                        <input type="hidden" name="accountStatus" th:value="${true}">
                        <input type="submit" value="New Listing" />
                    </fieldset>
                </form>
                <li th:text="'User name: ' + ${seller.username}"></li>
                <li>
                    <div>
                        <ul th:each="property : ${seller.properties}">
                            <li th:text="'Address: ' + ${property.address}"></li>
                            <li th:text="'Price: ' + ${property.price}"></li>
                            <div>
                                <ul th:each="offer : ${property.offers}">
                                    <li th:text="'Offer Price: ' + ${offer.offerPrice}"></li>
                                    <li th:text="'Down Payment: ' + ${offer.downPayment}"></li>
                                    <form action="/newMessage" method="post">
                                        <fieldset>
                                            <label>Message</label>
                                            <input type="text" name="body" required>
                                            <input type="hidden" name="id" th:value="${offer.id}">
                                            <input type="submit" value="Send" />
                                        </fieldset>
                                    </form>
                                        <ul th:each="message : ${offer.messages}">
                                            <li th:text="'Name: ' + ${seller.firstName}"></li>
                                            <li th:text="'Body: ' + ${message.body}"></li>
                                            <li th:text="'Date: ' + ${message.date}"></li>
                                            <br>
                                        </ul>
                                    <br>
                                </ul>
                            </div>
                            <br>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--<table>-->
        <!--    <th>-->
        <!--    <tr>-->
        <!--        <th>Address</th>-->
        <!--        <th>Price</th>-->
        <!--        <th>Client</th>-->
        <!--        <th>Close of Escrow</th>-->
        <!--        <th>Submit Offer</th>-->
        <!--    </tr>-->
        <!--        <tr th:each="client : ${clients}">-->
        <!--            <td th:text="${client.address}"></td>-->
        <!--            <td th:text="${client.address}"></td>-->
        <!--        </tr>-->
        <!--</th>-->
        <!--<td></td>-->
        <!--</tbody>-->
        <!--</table>-->

    </main>

    <main th:if="${siteUser.role.equals('seller')}">
        <div>
            <ul th:each="offer : ${offers}">
                <li th:text="'Offer Price: ' + ${offer.offerPrice}"></li>
                <li th:text="'Down Payment: ' + ${offer.downPayment}"></li>
                <form action="/newMessage" method="post">
                    <fieldset>
                        <label>Message</label>
                        <input type="text" name="body" required>
                        <input type="hidden" name="id" th:value="${offer.id}">
                        <input type="submit" value="Send" />
                    </fieldset>
                </form>
                <ul th:each="message : ${offer.messages}">
                    <li th:text="'Body: ' + ${message.body}"></li>
                    <li th:text="'Date: ' + ${message.date}"></li>
                    <br>
                </ul>
                <br>
            </ul>
        </div>
    </main>

    <div class="lside">Lside</div>
    <div class="rside">Rside</div>



    <footer>
        <div th:replace="/fragments/footer :: body"></div>
    </footer>

</body>

</html>