<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<div th:replace="/fragments/meta-head :: head"></div>
</head>
<body class="full">
<header>
    <div th:replace="/fragments/header :: body"></div>
</header>
<main>
    <h2 class="error-message">Were sorry, we cannot find what you're <br> looking for</h2>
    <img  src="/images/error-img.png" alt="error-img" width="800" height="600" margin="auto">

    <div>
        <h6 th:text="${status}"></h6>
        <h6 th:text="${error}"></h6>
        <h6 th:text="${message}"></h6>
    </div>
</main>
<footer></footer>
</body>
</html>