<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<div th:replace="/fragments/meta-head :: head"></div>
</head>
<body class="full">
<header>
    <div th:replace="/fragments/header :: body"></div>
</header>
<main>
    <img class="error-image" src="/images/error-img.jpg" alt="error-img" width="800" height="600">
    <h2>UH OH... There's Been a Glitch in the Matrix!</h2>
    <div>
        <h6 th:text="${status}"></h6>
        <h6 th:text="${error}"></h6>
        <h6 th:text="${message}"></h6>
    </div>
</main>
<footer></footer>
</body>
</html>