<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<div th:replace="/fragments/meta-head :: head"></div>
</head>
<body class="full">

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>

    <main>
        <h2 class="splash-message">Lets make an offer with Real Offer Hub!</h2>
        <img class="splash-image"  src="/images/splash-img1.jpg" alt="splash-img">

<div class="splash-template">

    <div class="agent-template">
        <h2 class="agent-message">Your Dashboard as an Agent</h2>
        <div class="template-image-div">
            <h4> As an Agent you can view your listings <br>and offers in one page!</h4>
            <img  class="template-image" src="/images/property-listings.png" alt="property-listings-img">
        </div>
        <div class="template-image-div">
            <h4>Your offers and details will be <br> consolidated under the related property</h4>
        <img class="template-image" src="/images/property-listing-offer-details.png" alt="property-listing-offer-detail-img">
        </div>
    </div>

    <div class="seller-template">
        <h2 class="seller-message">Your Dashboard as a Seller</h2>
        <div class="template-image-div">
            <h4>Your offers and details will be <br> consolidated under the related property</h4>
            <img class="template-image" src="/images/seller-offer-info.png" alt="seller-offer-info-img">
        </div>
    </div>

    <div class="communication-template">
        <h2 class="communication-message">Your Message/Comment Board</h2>
        <div class="template-image-div">
            <h4>As a Seller you can view your <br> listings and offers in one page, <br> and send a decision to your agent</h4>
            <img  class="template-image" src="/images/full-offer-info.png" alt="full-offer-message-img">
        </div>
        <div class="template-image-div">
            <h4>Your offers and details will be <br> consolidated under the related property</h4>
            <img class="template-image" src="/images/message-info.png" alt="message-img">
        </div>
    </div>
</div>
    </main>







    <footer><div th:replace="/fragments/footer :: body"></div></footer>



</body>
</html>