<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<div th:replace="/fragments/meta-head :: head"></div>
</head>
<body class="full">

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>

    <main>
        <h2 class="splash-message">Lets make an offer with Real Offer Hub!</h2>
        <img class="splash-image"  src="/images/splash-img1.jpg" alt="splash-img">

    </main>







    <footer><div th:replace="/fragments/footer :: body"></div></footer>



</body>
</html>