<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <head>
    <div th:replace="/fragments/meta-head :: head"></div>
  </head>
</head>

<body>

  <header>
    <div th:replace="/fragments/header :: body"></div>
  </header>



  <main>


    <!-- Begin New Listing Form -->

    <div class="m-4">



      <!-- Begin Create New Listing Form Container -->
      <div class="container">
        <form action="/newListing" method="post">
          <fieldset>
            <legend>Create New Listing</legend>


            <!-- Begin New Property Listing Section -->
            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-house-user fa-lg"></i>
              <input type="text" class="form-control" id="floatingAddress" placeholder="address" name="address" required>
              <label for="floatingAddress">Property Address</label>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-dollar-sign fa-lg"></i>
              <input type="number" class="form-control" id="floatingPrice" placeholder="price" name="price" required>
              <label for="floatingPrice">List Price</label>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-regular fa-calendar-days fa-lg"></i>
              <input type="date" class="form-control" id="floatingListingDate" placeholder="listingDate"
                name="initialPosting" required>
              <label for="floatingListingDate">Listing Date</label>
            </div>

            <section>

              <legend>Property Details</legend>

              <div class="form-floating mb-3">
                <i class="icon fa-solid fa-ruler fa-lg"></i>
                <input type="number" class="form-control" id="floatingSquareFootage" placeholder="squareFootage"
                  name="squareFootage" required>
                <label for="floatingSquareFootage">Square Footage</label>
              </div>

              <div class="form-floating mb-3">
                <i class="icon fa-solid fa-bed fa-lg"></i>
                <input type="number" class="form-control" id="floatingNumberOfRooms" placeholder="numberOfRooms"
                  name="numberOfRooms" required>
                <label for="floatingNumberOfRooms">Number of Rooms</label>
              </div>

              <div class="form-floating mb-3">
                <i class="icon fa-solid fa-bath fa-lg"></i>
                <input type="number" class="form-control" id="floatingNumberOfBathrooms" placeholder="numberOfBathrooms"
                  name="numberOfBathrooms" required>
                <label for="floatingNumberOfBathrooms">Number of Bathrooms</label>
              </div>

              <div class="form-floating mb-3">
                <i class="icon fa-regular fa-calendar-days fa-lg"></i>
                <input type="number" class="form-control" id="floatingYearBuilt" placeholder="yearBuilt" name="yearBuilt" required>
                <label for="floatingYearBuilt">Year Built</label>
              </div>


            </section>
            <!-- End New Property Listing Section -->

            <!-- Begin New Seller Section -->

            <div th:if="${status.equals(false)}">
              <section>
                <p></p>
                <legend>Create Account for Seller</legend>
                <br>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" id="floatingFirstName" placeholder="firstName"
                    name="firstName" required>
                  <label for="floatingFirstName">First Name</label>
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" id="floatingLastName" placeholder="lastName" name="lastName" required>
                  <label for="floatingLastName">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-phone fa-lg"></i>
                  <input type="phone" class="form-control" id="floatingPhone" placeholder="phone" name="phone" required>
                  <label for="floatingPhone">Phone Number</label>
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-envelope fa-lg"></i>
                  <input type="email" class="form-control" id="floatingEmail" placeholder="email" name="email" required>
                  <label for="floatingEmail">Email</label>
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" id="floatingsellerUserName" placeholder="sellerUserName"
                    name="sellerUserName" required>
                  <label for="floatingsellerUserName">Seller's Username</label>
                  <input type="hidden" name="phoneNumber" required>
                  <input type="hidden" name="email" required>
                  <input type="hidden" name="accountStatus" th:value="${status}">
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-lock fa-lg"></i>
                  <input type="password" class="form-control" id="floatingSellerpassword" placeholder="password"
                    name="password" required>
                  <label for="floatingSellerpassword">Seller's Password</label>
                </div>

                <input class="btn btn-primary" type="submit" value="Create Listing and Seller Account">

              </section>
            </div>
            <!-- End New Seller Section -->



          </fieldset>
          <div th:if="${status.equals(true)}">
            <input type="hidden" name="accountStatus" th:value="${status}">
            <input type="hidden" name="sellerUserName" th:value="${username}">
            <input class="btn btn-primary" type="submit" value="Create Listing">
          </div>
        </form>
      </div>
      <!-- End Create New Listing Form Container -->



    </div>
    <!-- End New Listing Form -->




    <!-- Begin OLD listing form -->
    <!-- <form action="/newListing" method="Post">
      <fieldset>
        <legend>Create New Listing</legend>
        <label>Address</label>
        <input type="text" name="address" required>
        <br>
        <label>Price</label>
        <input type="text" name="price" required>
        <br>
        <label>Initial Listing</label>
        <input type="date" name="date" required>
        <br>
        <br>
       
       
        <div th:if="${status.equals(false)}">
          <label>Create Account for Seller</label>
          <br>
          <label>Seller's Username</label>
          <input type="text" name="sellerUserName" required>
          <input type="hidden" name="phoneNumber" required>
          <input type="hidden" name="email" required>
          <input type="hidden" name="accountStatus" th:value="${status}">
          <br>
          <label>Seller's Password</label>
          <input type="password" name="password" required>
          <br>
          <br>
          <input type="submit" value="Create Listing and Create Seller Account">
        </div>
        
        
        <div th:if="${status.equals(true)}">
          <input type="hidden" name="accountStatus" th:value="${status}">
          <input type="hidden" name="sellerUserName" th:value="${username}">
          <input type="submit" value="Create Listing">
        </div>


      </fieldset>
    </form> -->
    <!-- End OLD listing form -->
  </main>


  <div class="lside"></div>
  <div class="rside"></div>



  <footer>
    <div th:replace="/fragments/footer :: body"></div>
  </footer>


</body>

</html>