<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="/fragments/meta-head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>


    <main>
        <div class="m-5 p-5">
        <!-- Begin Login Form Container -->
        <div class="container">
            <fieldset>
                <legend>Login</legend>
                <form th:onChange="${}" action="/login" method="post">


                    <!-- New Login -->
                    <div class="form-floating mb-3">
                        <i class="icon fa-solid fa-user-tie fa-lg"></i>
                        <input type="text" class="form-control" id="floatingUsername" placeholder="username"
                            name="username">
                        <label for="floatingUsername">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <i class="icon fa-solid fa-lock fa-lg"></i>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="password"
                            name="password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <!-- New Login -->


                </form>
            </fieldset>
        </div>
        <a href="/signup">No Account? Sign up!</a>
        <!-- End Login Form Container -->
        </div>
    </main>

    <div class="lside"></div>
    <div class="rside"></div>



    <footer>
        <div th:replace="/fragments/footer :: body"></div>
    </footer>
</body>

</html>