<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <div th:replace="/fragments/meta-head :: head"></div>
</head>

<body>



  <header>
    <div th:replace="/fragments/header :: body"></div>
  </header>




  <main>


    <!-- Begin New Offer Form -->

    <div class="m-4">



      <!-- Begin  New Offer Form Container -->
      <div class="container">
        <form action="/offer" method="post">
          <fieldset>
            <legend>Create New Offer</legend>


            <!-- Begin Property  Section -->
            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-house-user fa-lg"></i>

              <select class="form-control" id="property-address" placeholder="Property Address"
                aria-label="Property Address" name="address" required>

                <option selected>Select Property Address</option>
                <option th:each="address : ${addresses}" th:text="${address}"></option>

              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-user fa-lg"></i>
              <input type="text" class="form-control" id="floatingBuyersFirstName" placeholder="buyersFirstName"
                name="buyersFirstName" required>
              <label for="floatingBuyersFirstName">First Name</label>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-user fa-lg"></i>
              <input type="text" class="form-control" id="floatingBuyersLastName" placeholder="buyersLastName"
                name="buyersLastName" required>
              <label for="floatingBuyersLastName">Last Name</label>

            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-dollar-sign fa-lg"></i>
              <input type="text" class="form-control" id="floatingPrice" placeholder="price" name="price" required>

              <label for="floatingPrice">Offer Price</label>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-dollar-sign fa-lg"></i>
              <input type="text" class="form-control" id="floatingDownPayment" placeholder="downPayment"
                name="downPayment" required>
              <label for="floatingDownPayment">Down Payment</label>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-dollar-sign fa-lg"></i>
              <input type="text" class="form-control" id="floatingErnestMoneyAmount" placeholder="ernestMoneyAmount"
                name="ernestMoneyAmount" required>
              <label for="floatingErnestMoneyAmount">Ernest Money Amount</label>

            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-regular fa-calendar-days fa-lg"></i>

              <input type="date" class="form-control" id="floatingCloseOfEscrow" placeholder="closeOfEscrow"
                name="closeOfEscrow" required>
              <label for="floatingCloseOfEscrow">Close of Escrow</label>

            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-hand-holding-dollar fa-lg"></i>
              <select type="text" class="form-control" id="floatingConcessions" placeholder="concessions" name="concessions" required>
              
                <option selected>Seller Concessions</option>
                <option>None</option>
                <option>1%</option>
                <option>1.5%</option>
                <option>2%</option>
                <option>2.5%</option>
                <option>3%</option>
                <option>3.5%</option>
                <option>4%</option>
                <option>4.5%</option>
                <option>5%</option>
              
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-file-contract fa-lg"></i>
              <select class="form-control" id="floatingLoanType" placeholder="loanType" name="loanType" required>
            
                <option selected>Loan Type</option>
                <option>Conventional</option>
                <option>FHA</option>
                <option>VA</option>
                <option>Jumbo</option>
                <option>Cash</option>
                          
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-couch fa-lg"></i>

              <select class="form-control" id="floatingPersonalPropertyRequested" placeholder="personalPropertyRequested" name="personalPropertyRequested" required>
            
                <option selected>Personal Property Requested</option>
                <option>Washer</option>
                <option>Dryer</option>
                <option>Fridge</option>
                <option>Washer and Dryer</option>
                <option>Washer, Dryer and Fridge</option>
                <option>None</option>
            
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-house-flag fa-lg"></i>
              <select class="form-control" id="floatingHoa" placeholder="hoa"
                name="hoa" required>
            
                <option selected>HOA</option>
                <option>Paid by seller</option>
                <option>Paid by buyer</option>
                <option>Split 50/50 between buyer and seller</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-screwdriver-wrench fa-lg"></i>
              <select class="form-control" id="floatingInspectionPeriod" placeholder="inspectionPeriod" name="inspectionPeriod" required>
            
                <option selected>Inspection Period</option>
                <option>10 Day</option>
                <option>9 Day</option>
                <option>8 Day</option>
                <option>7 Day</option>
                <option>6 Day</option>
                <option>5 Day</option>
                <option>4 Day</option>
                <option>3 Day</option>
                <option>2 Day</option>
                <option>1 Day</option>
                <option>0 Day</option>
                <option>Waiving Inspection Period</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-house-lock fa-lg"></i>
              <select class="form-control" id="floatingContingentBuyer" placeholder="contingentBuyer" name="contingentBuyer" required>

                <option selected>Contingent Buyer</option>
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-solid fa-money-bill-trend-up fa-lg"></i>
              <select class="form-control" id="floatingEscalation" placeholder="escalation" name="escalation" required>
            
                <option selected>Escalation Clause</option>
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <i class="icon fa-regular fa-calendar-days fa-lg"></i>
              <input type="date" class="form-control" id="floatingResponseDate" placeholder="responseDate" name="responseDate"
                required>
              <label for="floatingResponseDate">Response Date</label>
            </div>

              <div class="form-floating mb-3">
                <i class="icon fa-regular fa-calendar-days fa-lg"></i>
                <input type="time" class="form-control" id="floatingResponseTime" placeholder="responseTime" name="responseTime"
                  required>
                <label for="floatingResponseTime">Response Time</label>
              </div>

              <div class="form-floating mb-3">
                <i class="icon fa-solid fa-user fa-lg"></i>
                <input type="text-area" class="form-control" id="floatingAdditionalTermsAndConditions" placeholder="additionalTermsAndConditions"
                  name="additionalTermsAndConditions">
                <label for="floatingAdditionalTermsAndConditions">Additional Terms and Conditions</label>
              </div>

            <!-- Begin Buyers Agent Section -->
            
            
              <section>
                <p></p>
                <legend>Buyer's Agent</legend>
                <br>
            
                <div class="form-floating mb-3">

                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" id="floatingFirstName" placeholder="firstName" name="firstName" required>
                  <label for="floatingFirstName">First Name</label>

                </div>
            
                <div class="form-floating mb-3">

                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" id="floatingLastName" placeholder="lastName" name="lastName" required>
                  <label for="floatingLastName">Last Name</label>

                </div>
            
                <div class="form-floating mb-3">

                  <i class="icon fa-solid fa-phone fa-lg"></i>
                  <input type="phone" class="form-control" id="floatingPhone" placeholder="phone" name="phone" required>
                  <label for="floatingPhone">Phone Number</label>
                </div>
            
                <div class="form-floating mb-3">

                  <i class="icon fa-solid fa-envelope fa-lg"></i>
                  <input type="email" class="form-control" id="floatingEmail" placeholder="email" name="email" required>
                  <label for="floatingEmail">Email</label>
                </div>
 
              </section>
            
            <!-- End Buyers Agent Section -->
            <div>
              <input class="btn btn-primary" type="submit" value="Submit Offer">
            </div>
          </fieldset>
        </form>
        <!-- End  New Offer Form Container -->
      </div>
      <!-- End New Offer Form -->




  </main>





  <div class="lside">Lside</div>
  <div class="rside">Rside</div>

  <footer>
    <div th:replace="/fragments/footer :: body"></div>
  </footer>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</body>

</html>