<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/grid.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Real Offer Hub</title>
</head>
<body>
  


    <header>
      <div th:replace="/fragments/header :: body"></div>
    </header>




    <main>

      <div class="left">

          <form action="/offer" th:method="post">
            <fieldset>
              <legend>Offer Submission Form</legend>
            <div class="form-group">
              <label>Property Address</label>
              <select class="form-control" id="property-address" placeholder="Property Address" aria-label="Property Address" name="address">

                <option selected>Choose...</option>
                <option th:each="address : ${addresses}" th:text="${address}" ></option>

              </select>
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" id="price" placeholder="Price" aria-label="Price" name="price">
            </div>
            <div class="form-group">
              <label>Down Payment</label>
              <input type="text" class="form-control" id="down-payment" placeholder="Down Payment" aria-label="Down Payment" name="downPayment">
            </div>
            <div class="form-group">
              <label>Contingent Buyer</label>
              <select class="form-control" id="contingent-buyer" placeholder="Contingent Buyer" aria-label="Contingent Buyer" name="contingentBuyer">

                <option selected>Choose...</option>
                <option th:text="yes"></option>
                <option th:text="no" ></option>
  

              </select>
            </div>
           
            <input  type="submit" value="Submit Offer" class="btn btn-primary">
          </fieldset>
          </form>

      </div>



      <div class="right">
       <h1>Right Side Content</h1>
      </div>

    </main>





    <lside>Lside</lside>
    <rside>Rside</rside>
  <footer>
    <div th:replace="/fragments/footer :: body"></div>
  </footer>




</body>
</html>