<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<div th:replace="/fragments/meta-head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>


    <main>

        <div class="m-4">
            <form action="/signup" method="post">
                <!-- Begin First Row of form fields -->
                <div class="row g-3 mb-3">
                    <div class="mb-3 col-md-auto">
                  
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            name="username" required>
                    </div>
                    <div class="mb-3 col-md-auto">
                   
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                            name="password" required>
                    </div>
                  
                </div>
                <!-- End First Row of form fields -->
                <!-- Begin second row of form fields -->
                <div class="row align-items-center g-3">
                    <div class="mb-3 col-md-auto">
                   
                        <input type="text" class="form-control" placeholder="First Name" aria-label="First Name"
                            name="firstName" required>
                    </div>
                    <div class="mb-3 col-md-auto">
                    
                        <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name"
                            name="lastName" required>
                    </div>
                    <div class="mb-3 col-md-auto">
                    
                        <button type="submit" class="btn btn-primary">Sign up</button>
                        <a href="/login">Already signed up? Login!</a>
                    </div>
                </div>
                <!-- End second row of form fields -->
            </form>
        </div>



    </main>

    <div class="lside">Lside</div>
    <div class="rside">Rside</div>



    <footer>
        <div th:replace="/fragments/footer :: body"></div>
    </footer>
</body>

</html>