<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="/fragments/meta-head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="/fragments/header :: body"></div>
    </header>


    <main>




        <!-- Begin New Signup Form -->

        <div class="m-5">



            <!-- Begin New Signup Form Container -->
            <div class="container">
                <form action="/signup" method="post">
                    <fieldset>
                        <legend>Signup</legend>

                        <!-- Begin New Signup Section -->


                        <section>
                         

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-user fa-lg"></i>
                                <input type="text" class="form-control" id="floatingFirstName" placeholder="firstName"
                                    name="firstName" required>
                                <label for="floatingFirstName">First Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-user fa-lg"></i>
                                <input type="text" class="form-control" id="floatingLastName" placeholder="lastName"
                                    name="lastName" required>
                                <label for="floatingLastName">Last Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-phone fa-lg"></i>
                                <input type="phone" class="form-control" id="floatingPhone" placeholder="phone"
                                    name="phone" required>
                                <label for="floatingPhone">Phone Number</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-envelope fa-lg"></i>
                                <input type="email" class="form-control" id="floatingEmail" placeholder="email"
                                    name="email" required>
                                <label for="floatingEmail">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-user fa-lg"></i>
                                <input type="text" class="form-control" id="floatingUserName" placeholder="username"
                                    name="username" required>
                                <label for="floatingUserName">Username</label>

                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-lock fa-lg"></i>
                                <input type="password" class="form-control" id="floatingPassword" placeholder="password"
                                    name="password" required>
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-building fa-lg"></i>
                                <input type="text" class="form-control" id="floatingBrokerageName"
                                    placeholder="brokerageName" name="brokerageName" required>
                                <label for="floatingBrokerageName">Brokerage</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon fa-solid fa-id-card fa-lg"></i>
                                <input type="text" class="form-control" id="floatingLicenseNumber"
                                    placeholder="licenseNumber" name="licenseNumber" required>
                                <label for="floatingLicenseNumber">License Number</label>
                            </div>

                            <div class="form-floating mb-3">
                                <i class="icon-textarea fa-solid fa-book fa-lg"></i>
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingBio" name="bio"
                                        style="height: 100px"></textarea>
                                    <label for="floatingBio">Tell us about you. Share a short Bio.</label>                       
                            </div>

                            <input class="btn btn-primary" type="submit" value="Signup">

                        </section>
                        <!-- End New Signup Section -->



                        
                    </fieldset>
                </form>
            </div>
            <!-- End Signup Form Container -->
            <a href="/login">Already signed up? Login!</a>


        </div>
        <!-- End New Signup Form -->



    </main>

    <div class="lside">Lside</div>
    <div class="rside">Rside</div>



    <footer>
        <div th:replace="/fragments/footer :: body"></div>
    </footer>
</body>

</html>